
body {
    background-color: rgb(227, 207, 181);
}
span {color: rgb(187, 91, 12);
font-size: 150%;
font-weight: bold;
}

   
p {
color: rgb(12, 12, 87);
width: 300;
font-size: 150%;
text-align: justify;


}

h1 {
    font-weight: bold;
    color: rgb(82, 39, 39);
    text-shadow: 1px 2px 2px #e7f339;
    text-align: center;
}
h2 {
    font-weight: bold;
    color: rgb(145, 59, 59);
    text-shadow: 1px 2px 2px #80acc9;
    font-size: 400%;
    text-align: center;
    margin-left: 10cm;

}

* ul li
  { color: rgb(12, 12, 87);
    width: 300;
    font-size: 150%;
    margin: 0;
    padding: 0;
    background-position: 0 0;
    margin-left: 11cm;
    }
    



h3, h4, h5, h6 {
    font-weight: bold;
    color: rgb(90, 57, 8);
    text-shadow: 1px 2px 2px #80acc9;
    font-size: 200%;
    text-align: center;
}

img { width: 400px ;
      display:block
      padding 10px; margin: 10px; border: 5px solid rgb(212, 45, 45); float: right; width: 350px; }
      
      
    #demo {border-color: 10px; color:black;
        font-weight: bold;  
        text-align: center;
          margin-block: 45px;
          font-size: 130%;
      }
    #boton { text-align: center;
        border-color: #80acc9;
        font-size: 120%;
        margin-left: 17cm;
        
           
    }
    